<div class='modal-header'>
  <h4 class='modal-title'>{{id_person ? 'Modificare' : 'Adăugare'}} persoană</h4>
</div>

<div class='modal-body'>
  <div class='row'>
    <label class='col-2 control-label'>Nume*</label>
    <div class='col-9'>
      <input [(ngModel)]='modal.last_name' class='form-control' placeholder='Nume' maxlength='200' />
    </div>
    <label class='col-2 control-label'>Prenume*</label>
    <div class='col-9'>
      <input [(ngModel)]='modal.first_name' class='form-control' placeholder='Prenume' maxlength='200' />
    </div>
    <label class='col-2 control-label'>CNP*</label>
    <div class='col-9'>
      <input [(ngModel)]='modal.cnp' class='form-control' placeholder='CNP' maxlength='200' />
    </div>
    <label class='col-2 control-label'>Mașini</label>
    <div class='col-9'>
    <ng-select placeholder='Masini' [multiple]='true'>
      <ng-template ngFor let-r [ngForOf]='cars'>
        <ng-option *ngIf='r.id_person === id_person || r.id_person === null'>
          {{r.brand_name}} {{r.model_name}} {{r.id}}
        </ng-option>
      </ng-template>
    </ng-select>
  </div>
</div>


</div>

<div class='modal-footer'>
  <button type='button' class='btn btn-outline-dark' (click)='activeModal.dismiss()'>Renunță</button>
  <button type='button' class='btn btn-success' (click)='save()'>Salvează</button>
</div>
